.markdown-preview-section, 
.markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer, 
.markdown-reading-view.mod-cm6.is-readable-line-width .cm-sizer  {
    max-width: 90% !important;
}

.headers-center:is(h1, h2, h3, h4, h5, h6),
.text-center:is(h1, h2, h3, h4, h5, h6, p, body, span) {
  text-align: center;
}

.image-center:is(img) {
  margin-left:auto;
  margin-right:auto;
}

.colorText {
  color: var(--highlight);
}

.noteRed,
.mod-root .workspace-tab-header.mod-active {
  --highlight: #fcadaa;
  --primary: #f65848;
  --dark: #3c0e0b;
}

.mod-root .workspace-tab-header.mod-active  {
  color: var(--highlight);
  background-color: var(--dark);
}

.noteBlue,
.mod-root .workspace-tab-header.mod-active {
  --highlight: #aedbfa;
  --primary: #3b87f0;
  --dark: #070615;
}

.noteYellow,
.mod-root .workspace-tab-header.mod-active {
  --highlight: #fff3c4;
  --primary: #ffd63d;
  --dark: #2c1404;
}

.noteOrange,
.mod-root .workspace-tab-header.mod-active {
  --highlight: #f7b79b;
  --primary: #ed6022;
  --dark: #210b04;
}

.noteGreen,
.mod-root .workspace-tab-header.mod-active {
  --highlight: #e9f9b7;
  --primary: #92e649;
  --dark: #192108;
}

.notePink,
.mod-root .workspace-tab-header.mod-active {
  --highlight: #f39caa;
  --primary: #e22c3c;
  --dark: #100305;
}