version: 2
root-markers:
  - .git/
tools:
  python-black: &python-black
    format-command: 'black --quiet -'
    format-stdin: true
  python-isort: &python-isort
    format-command: 'isort --quiet -'
    format-stdin: true
  python-flake8: &python-flake8
    lint-command: 'flake8 --stdin-display-name ${INPUT} -'
    lint-stdin: true
    lint-formats:
      - '%f:%l:%c: %m'
  shellcheck: &shellcheck
    lint-command: 'shellcheck -f gcc -x -'
    lint-stdin: true
    lint-formats:
      - '%f:%l:%c: %trror: %m'
      - '%f:%l:%c: %tarning: %m'
      - '%f:%l:%c: %tote: %m'
  shfmt: &shfmt
    format-command: 'shfmt -i 2 -bn -ci -sr'
    format-stdin: true
languages:
  python:
    - !!merge <<: *python-black
    - !!merge <<: *python-isort
    - !!merge <<: *python-flake8
  sh:
    - !!merge <<: *shellcheck
    - !!merge <<: *shfmt
  bash:
    - !!merge <<: *shellcheck
    - !!merge <<: *shfmt
