#===================================================
# Common Keymap
#===================================================

[[mgr.keymap]]
on = "<Esc>"
run = "escape"
desc = "Exit visual mode, clear selection, or cancel search"

[[mgr.keymap]]
on = ["<C-c>", "<C-z>"]
run = ["close", "suspend"]
desc = "Close tab or suspend process"

[[mgr.keymap]]
on = ["<Down>"]
run = "arrow next"
desc = "Next file"

[[mgr.keymap]]
on = ["<Up>"]
run = "arrow prev"
desc = "Previous file"

[[mgr.keymap]]
on = ["k"]
run = "arrow next"
desc = "Next file"

[[mgr.keymap]]
on = ["i"]
run = "arrow prev"
desc = "Previous file"


[[mgr.keymap]]
on = ["<C-i>", "<C-Up>"]
run = "arrow -25%"
desc = "Move cursor up 25%"

[[mgr.keymap]]
on = ["<C-k>", "<C-Down>"]
run = "arrow 25%"
desc = "Move cursor down 25%"

[[mgr.keymap]]
on = ["<S-i>", "<S-Up>"]
run = "arrow -50%"
desc = "Move cursor up 50%"

[[mgr.keymap]]
on = ["<S-k>", "<S-Down>"]
run = "arrow 50%"
desc = "Move cursor down 50%"

[[mgr.keymap]]
on = ["<C-S-i>", "<C-S-Up>"]
run = "arrow -100%"
desc = "Move cursor up 100%"

[[mgr.keymap]]
on = ["<C-S-k>", "<C-S-Down>"]
run = "arrow 100%"
desc = "Move cursor down 100%"

#===================================================
# Goto Keymap
#===================================================

[[mgr.keymap]]
on = ["g", "e", "l"]
run = "cd ~/.local"
desc = "Goto .local"

[[mgr.keymap]]
on = ["g", "e", "c"]
run = "cd ~/.config"
desc = "Goto .config"

[[mgr.keymap]]
on = ["g", "e", "d"]
run = "cd ~/Downloads"
desc = "Goto Downloads"

[[mgr.keymap]]
on = ["g", "c", "c"]
run = "cd ~/.core"
desc = "Goto .core"

[[mgr.keymap]]
on = ["g", "c", "f"]
run = "cd ~/.core/cfg"
desc = "Goto .core/cfg"

[[mgr.keymap]]
on = ["g", "c", "b"]
run = "cd ~/.core/bin"
desc = "Goto .core/bin"

[[mgr.keymap]]
on = ["g", "v", "t"]
run = "cd ~/Dropbox/Vaults/Theron-Vault-Clean/"
desc = "Goto Main Vault"

[[mgr.keymap]]
on = ["g", "v", "e"]
run = "cd ~/Dropbox/Vaults/.encrypt/"
desc = "Goto Secondary Vault"

[[mgr.keymap]]
on = ["g", "<Space>"]
run = "cd --interactive"
desc = "Jump interactively"

[[mgr.keymap]]
on = ["g", "f"]
run = "follow"
desc = "Follow hovered symlink"

#===================================================
# Plugin Keymap
#===================================================

[[mgr.prepend_keymap]]
on = "!"
for = "unix"
run = 'shell "$SHELL" --block'
desc = "Open $SHELL here"

[[mgr.prepend_keymap]]
on = "p"
run = "plugin smart-paste"
desc = "Paste into directory or CWD"

[[mgr.prepend_keymap]]
on = "<Enter>"
run = "plugin smart-enter"
desc = "Enter directory or open file"

[[mgr.prepend_keymap]]
on = "M"
run = "plugin mount"

[[mgr.prepend_keymap]]
on = ["m", "a"]
run = "plugin archivemount mount"
desc = "Mount archive"

[[mgr.prepend_keymap]]
on = ["m", "u"]
run = "plugin archivemount unmount"
desc = "Unmount archive"

[[mgr.prepend_keymap]]
on = "J"
run = "plugin jump-to-char"
desc = "Jump to char"

[[mgr.prepend_keymap]]
on = "F"
run = "plugin smart-filter"
desc = "Smart filter"

[[mgr.prepend_keymap]]
on = "+"
run = "plugin zoom 1"
desc = "Zoom in"

[[mgr.prepend_keymap]]
on = "-"
run = "plugin zoom -1"
desc = "Zoom out"

[[mgr.prepend_keymap]]
on = ["<A-t>", "e"]
run = "plugin toggle-pane max-preview"
desc = "Max/restore preview pane"

[[mgr.prepend_keymap]]
on = ["<A-t>", "m"]
run = "plugin toggle-pane min-preview"
desc = "Show/hide preview pane"

[[mgr.prepend_keymap]]
on = ["R", "r"]
run = "plugin rsync"
desc = "Rsync copy"

[[mgr.prepend_keymap]]
on = ["R", "c"]
run = "plugin rsync --args='theron@chaoscore.org'"
desc = "Rsync to chaoscore"

[[mgr.prepend_keymap]]
on = ["<A-g>", "d"]
run = "plugin diff"
desc = "Git diff"

[[mgr.prepend_keymap]]
on = ["<A-g>", "c"]
run = "plugin vcs-files"
desc = "Show Git changes"

[[mgr.prepend_keymap]]
on = ["<A-g>", "r"]
run = 'shell -- ya emit cd "$(git rev-parse --show-toplevel)"'
desc = "Go to Git root"

[[mgr.prepend_keymap]]
on = ["<A-g>", "g"]
run = "plugin lazygit"
desc = "Open lazygit"

[[mgr.prepend_keymap]]
on = ["P", "s"]
run = "plugin projects save"
desc = "Save project"

[[mgr.prepend_keymap]]
on = ["P", "l"]
run = "plugin projects load"
desc = "Load project"

[[mgr.prepend_keymap]]
on = ["P", "P"]
run = "plugin projects load_last"
desc = "Load last project"

[[mgr.prepend_keymap]]
on = ["P", "d"]
run = "plugin projects delete"
desc = "Delete project"

[[mgr.prepend_keymap]]
on = ["P", "D"]
run = "plugin projects delete_all"
desc = "Delete all projects"

[[mgr.prepend_keymap]]
on = ["P", "m"]
run = "plugin projects 'merge current'"
desc = "Merge current tab"

[[mgr.prepend_keymap]]
on = ["P", "M"]
run = "plugin projects 'merge all'"
desc = "Merge all projects"

[[mgr.prepend_keymap]]
on = ["P", "q"]
run = "plugin projects quit"
desc = "Quit and save project"

[[mgr.prepend_keymap]]
on = ";"
run = "plugin bunny"
desc = "Start bunny"

[[mgr.prepend_keymap]]
on = "'"
run = "plugin bunny fuzzy"
desc = "Fuzzy bunny"

[[mgr.prepend_keymap]]
on = "C"
run = "plugin ouch"
desc = "Compress with ouch"

[[mgr.prepend_keymap]]
on = ["<A-k>", "s"]
run = "plugin kdeconnect-send"
desc = "Send via KDE Connect"

[[mgr.prepend_keymap]]
on = ["_", "r"]
run = "plugin reflink"
desc = "Reflink yanked files"

[[mgr.prepend_keymap]]
on = "<C-b>"
run = 'shell -- swww img "$0"'
desc = "Set hovered as wallpaper"

#===================================================
# Misc Keymap
#===================================================

[[mgr.keymap]]
on = "<A-i>"
run = "open --with=image"
desc = "Open image with nsxiv"

[[mgr.keymap]]
on = "<A-I>"
run = "open --with=image_folder"
desc = "Open all images in folder with nsxiv"

[[mgr.keymap]]
on = "t"
run = "tab_create --current"
desc = "New tab with CWD"

[[mgr.keymap]]
on = "w"
run = "tasks:show"
desc = "Task manager"

[[mgr.keymap]]
on = ["1", "2", "3", "4", "5", "6", "7", "8", "9"]
run = [
    "tab_switch 0",
    "tab_switch 1",
    "tab_switch 2",
    "tab_switch 3",
    "tab_switch 4",
    "tab_switch 5",
    "tab_switch 6",
    "tab_switch 7",
    "tab_switch 8",
]
desc = "Switch to tab N"

[[mgr.keymap]]
on = "["
run = "tab_switch -1 --relative"
desc = "Previous tab"

[[mgr.keymap]]
on = "]"
run = "tab_switch 1 --relative"
desc = "Next tab"

[[mgr.keymap]]
on = "{"
run = "tab_swap -1"
desc = "Swap with previous tab"

[[mgr.keymap]]
on = "}"
run = "tab_swap 1"
desc = "Swap with next tab"

[[mgr.keymap]]
on = "<A-g>"
run = "open --with=image_gui"
desc = "Open image with GUI"

#===================================================
# Fetchers
#===================================================

[[plugin.prepend_fetchers]]
id = "git"
name = "*"
run = "git"

#===================================================
# Openers
#===================================================

[mgr.opener.extract]
run = 'ya pub extract --list "$@"'
desc = "Extract here"
for = "unix"

#===================================================
# Spots
#===================================================

[mgr.spot.title]
fg = "green"

[mgr.spot.tbl_col]
fg = "blue"
